@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

body {
  margin:0;
  background-color:#ebc7a7;
}
#background-image {
  position:absolute;
  width:100%;
}
#page-background {
  width:100%;
  height:100%;
  position:absolute;
}
#cactus {
  width:20vmax;
  height:20vmax;
  position:absolute;
  left:10vmax;
  top:5vmax;
  animation: cactus-rotation 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out
}
#header-points {
  font-family: 'Fredoka One', cursive;
  color:#875529;
  position:absolute;
  left:12vmax;
  top:-1vmax;
  font-size:4vmax;
}
#header-per-second {
  font-family: 'Fredoka One', cursive;
  color:#875529;
  position:absolute;
  left:16.5vmax;
  top:5vmax;
  font-size:1vmax;
}
#header-multiplier {
  font-family: 'Fredoka One', cursive;
  color:#875529;
  position:absolute;
  left:16.5vmax;
  top:6vmax;
  font-size:1vmax;
}
#shop-table {
  position:absolute;
  left:50vmax;
  top:7vmax;
}
.table-text {
  font-size:1vmax;
  font-family: 'Fredoka One', cursive;
}
.table-images {
  height:5vmax;
  width:5vmax;
  transition-duration: 0.05s;
}
.locked {
  opacity:0.25;
}
@keyframes cactus-rotation {
  0% {transform: rotate(7deg);}
  50% {transform: rotate(-7deg);}
  100% {transform: rotate(7deg);}
}
