@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Tapestry&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Metamorphous&family=Tapestry&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, p {
    font-family: "Lexend", sans-serif;
}

.smh {
    user-select: none;
}
.simple-button {
    display: none;
}
.simple-text {
    margin-bottom: 0;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.15s;
}

.shown {
    display: none;
}

.simple-text:hover {
    background-color: #41464b;
    transition-duration: 0.15s;
}

.mine-background {
  background-image: url(../images/minecraft.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.mine-font {
    font-family: "Tourney", sans-serif;
}

.lorax-background {
  background-image: url(../images/lorax.png);
  background-size: 100%;
  background-attachment: fixed;
}

.lorax-font {
    font-family: "Tapestry", sans-serif;
}

.transparent {
    background-color: transparent;
}

.dwarf-background {
  background-image: url(../images/dwarf.png);
  background-size: 100%;
  background-attachment: fixed;
}

.dwarf-font {
    font-family: "Tourney", sans-serif;
}

.pink-background {
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.pink-card {
    background: #d897b35e;
}

.pink-text {
    color: white;
}

.mango-background {
    background: #F9D790;
    background: radial-gradient(circle,#F6C865 0%, #F4BB44 100%);
}
.mango-card {
    background: #d8c3975e;
}

.mango-text {
    color: white;
}

.synth-background {
    background: #ff8f1f5e;
    background: radial-gradient(circle,#07000d 0%, #1c011e 100%);
}
.synth-card {
    background: transparent;
    border-color: #f222ff;
}

.synth-text {
    color: #ffffff;
}