.pink-background {
    background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.pink-card {
    background: #d897b35e;
}

.pink-text {
    color: white;
}

.mango-background {
    background: #F9D790;
    background: radial-gradient(circle,#F6C865 0%, #F4BB44 100%);
}
.mango-card {
    background: #d8c3975e;
}

.mango-text {
    color: white;
}

.synth-background {
    background: #ff8f1f5e;
    background: radial-gradient(circle,#07000d 0%, #1c011e 100%);
}
.synth-card {
    background: transparent;
    border-color: #f222ff;
}

.synth-text {
    color: #ffffff;
}