@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend:wght@100..900&display=swap');

html {
    border: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(160deg, #5b5b5b 50%, #515151 50%);
    background-attachment: fixed;
}

.timer-holder {
    width: 100%;
    height: 2vmax;
    background: linear-gradient(270deg, rgb(164, 164, 164) 50%, #959595 50%);
    border-radius: 8px;
    background-size: 5% 100%;
    transition-duration: 0.35s;
}

.timer {
  width: 10%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(270deg, #F4EBD3, #DED3C4, #98A1BC);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

.timer-holder:hover {
  scale: 2;
  transition-duration: 0.35s;
  background: linear-gradient(270deg, #959595 50%, #757575 50%);
  background-size: 5% 100%;
}

#sixtimer {
  background: linear-gradient(270deg, #8CCFB5, #65ACC7, #8CCFB5);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}


#seventimer {
  background: linear-gradient(270deg, #0D6EFD, #4089F7, #0D6EFD);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

#eighttimer {
  background: linear-gradient(270deg, #BA1C21, #d7292c, #BA1C21);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

#ninetimer {
  background: linear-gradient(270deg, #1D546C, #1A3D64, #1D546C);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
    color: #F4EBD3;
    font-family: "Lexend", sans-serif;
}
h2 {
    color: #F4EBD3;
    font-family: "Lexend", sans-serif;
}
h3 {
    color: #F4EBD3;
    font-family: "Lexend", sans-serif;
}

.button {
  width: 45%;
  height: 20%;
  border-radius: 8px;
  background-color: rgb(131, 131, 131);
  border: none;
  margin-top: 1vmax;
  cursor: pointer;
  transition-duration: 0.15s;
}

.button:hover {
  background-color: rgb(105, 105, 105);
  cursor: pointer;
  scale: 1.05;
  transition-duration: 0.15s;
}

.reset-button {
  width: 15%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(131, 131, 131);
  border: none;
  margin-top: 1vmax;
  cursor: pointer;
  transition-duration: 0.15s;
  margin-left: 10px;
}

.reset-button:hover {
  background-color: rgb(255, 189, 189);
  cursor: pointer;
  scale: 1.05;
  transition-duration: 0.15s;
}