@font-face {
    font-family: 'heavy_equipmentregular';
    src: url('heavyequipment-webfont.woff2') format('woff2'),
         url('heavyequipment-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Concert+One&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* font-family: 'Patrick Hand', cursive; */
#main-body {
  /* background-color:#1E8875; */
  display:flex;
  justify-content:center;
}
body {
  border:none;
  padding:none;
  background-color:#1E8875;
  background-image: url("../images/Back2.png");
  background-attachment:fixed;
  background-size: cover;
}
#page {
  background-color:#566A8E;
  width: 50vmax;
  border-radius:50px;
  /* height:50vmax; */
}
#second-body {
  display:flex;
  justify-content:center;

}
h1 {
  color:white;
  font-family: 'Righteous', cursive;
  font-size: 6vmax;
  text-align:center;
  line-height: 0;
  border:none;
  padding:none;
  margin: 5vmax;
}
p {
  color:white;
  font-family: 'Patrick Hand', cursive;
  text-align:center;
  font-size:1.5vmax;
  margin:auto 7vmax auto 7vmax;
}
a {
  color:white;
  font-family: 'Patrick Hand', cursive;
  text-align:center;
  font-size:1.5vmax;
  margin:auto 7vmax auto 7vmax;
}
#header {
  width:50vmax;
  border-radius:50px;
}
#trailer {
  margin:auto 3vmax auto 8vmax;
  width:35vmax;
  height:20vmax;
}
#background {
  position:absolute;
  z-index: -1;
  opacity:0.1;
  height:260%;
  100%;
}
#bandcamp {
  padding:auto 10vmax auto 8vmax;
  text-align:center;
}
.footer {
  font-size:1vmax;
  margin-bottom:1vmax;
}
/* parallax */
