/* ------------------navbar---------- */
.navbar {
  width:100%;
  height:5vmax;
  display:flex;
  justify-content:space-around;
}
.nav-text {
  margin:auto 0 auto 0;
  color:#d9d9d9;
  font-family: 'Lalezar', cursive;
  font-size:2vmax;
  border-bottom-width:0;
  border-bottom-color:#f8f8f8;
  text-decoration:none;
}
.nav-text:hover {
  color:#ffdc34;
  transition-duration:0.25s;
}
.nav-text-selected {
  margin:auto 0 auto 0;
  color:#ffdc34;
  font-family: 'Lalezar', cursive;
  font-size:2vmax;
  border-bottom-width:0;
  border-bottom-color:#f8f8f8;
  text-decoration:none;
}
/* -------------Grid System------------- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 5vmax;
  background-color:RGBA(0,145,142,0.32);
  border-radius:15px;
  animation-name: fade-in;
  animation-duration: 1s;
}
#grid2 {
  animation-delay:1s;
  opacity:0;
  animation-fill-mode: forwards;
}
.grid1-item1 {
  text-align:center;
}
.grid1-item2 {
}
.grid1-item3 {
  text-align:center;
}
.grid-img {
  height:22vmax;
  margin:1vmax;
  border-radius:10px;
  align-self:center;
}
.grid-list {
  color:white;
  font-size:1.5vmax;
  font-family: 'Oswald', sans-serif;
  line-height:3vmax;
}
.side-text {
  color:white;
  font-size:2vmax;
  font-family: 'Lalezar', sans-serif;
  margin:5vmax 5vmax 0 5vmax;

}
.grid-p1 {
  color:white;
  font-size:3vmax;
  font-family: 'Pixellari', sans-serif;
  margin:1vmax auto auto auto;
}
.line1 {
  width:20vmax;
  border: 0;
  border-bottom: 2px solid #fff;
  opacity:0.5;
}
.contact-btn {
  background-color:RGBA(0,145,142,0.32);
  width:15vmax;
  height:3vmax;
  text-align:center;
  display:flex;
  justify-content: center;
  flex-direction:column;
  border-radius:10px;
  opacity:0.5;
  color:white;
  font-size:2vmax;
  font-family: 'Oswald', sans-serif;
  margin:auto;
  transition-duration: 1s;
}
.contact-btn:hover {
  background-color:RGBA(0,145,142,1);
  transition-duration:0.25s;
}
.page-divider {
  height:0.25vmax;
  width:50%;
  background-color:#00918e;
  opacity:0;
  margin: 0 25% 0 24.5%;
  border-radius:10px;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.body-text {
  color:#00918e;
  margin: 1vmax 10% 0 40%;
  font-family: 'Oswald', sans-serif;
  opacity:0;
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}
.game1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-left:23vmax;
  margin-top:3vmax;
  height:10vmax;
  width:25vmax;
  border-radius:10px;
}
.game2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-top:3vmax;
  height:10vmax;
  width:25vmax;
  border-radius:10px;
}
#game3 {
  opacity:0;
  margin: 1vmax 27vmax 0 35vmax;
  animation-fill-mode: forwards;
  animation-name:fade-in;
  animation-duration: 1s;
  animation-delay:1.5s;
}
@keyframes fade-in {
  from {opacity:0;}
  to {opacity:1;}
}
